@import "./variables.scss";
@import "./mixins.scss";

// start hero section

.hero-section {
  position: relative;
  top: -100px;
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: rgba(25, 31, 37, 0.56);
    backdrop-filter: blur(1px); 
  }
}

// end hero section

// start search home

.search-home {
  //   margin-top: $mainSpace;
  margin-top: 50px;
  border-radius: 100px;
  background: #f4f5f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 22px;
  z-index: 111111;

  .inp {
    display: flex;
    flex-direction: column;
    // width: 250px;

    label {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: #64748b;
    }
  }

  .searchBtn {
    display: flex;
    width: 170px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    color: #fff;
    background: $primary;
    box-shadow: -15px 20px 50px 0px rgba(45, 149, 150, 0.16);
  }
}

// start search home

// start explore brands

.explore-brands-section {
  margin-top: $mainSpace;
  position: relative;

  h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: $black;

    span {
      color: $primary;
    }
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
    color: $sec;
    width: 382px;
    line-height: 24px;
    margin-bottom: $space1;
  }
}

// end explore brands

// start why-choose-section

.why-choose-section {
  margin-top: $mainSpace;
  margin-bottom: 50px;
  position: relative;

  .text {
    h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      color: $black;
      position: relative;
      img{
        position: absolute;
        left: -45px;
      }

      span {
        color: $primary;
      }
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-top: 16px;
      color: $sec;
      width: 382px;
      line-height: 24px;
      margin-bottom: $space1;
      
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 44px;
    border-radius: 20px;
    background: #f4f5f6;
    transition: 0.4s all;
    text-align: center;

    img {
      height: 56px;
      width: 56px;
      border-radius: 50%;
    }

    h5 {
      margin-top: 32px;
      margin-bottom: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      color: $black;
    }

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      // width: 210px;
      line-height: 24px;
      margin: 0;
      color: $sec;
      text-align: center;
      @include text-line(5);
      .readMore{
        color: $primary;
        font-weight: 600;
      }
      &.active{
      }
    }

    &:hover {
      background: #fff;
      box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
      p{
        @include no-trunc();
      }
    }
  }
}

// end why-choose-section

// start cars home section

.cars-section-home {
  margin-top: $mainSpace;
  background: #f4f5f6;
  padding: 56px 0px;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 22px;
      color: $sec;
    }

    h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      color: $black;
    }
  }

  .more-btn {
    margin-top: 48px;
    width: 138px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 28px;
    border: 1px solid $black;
    box-shadow: -15px 20px 50px 0px rgba(45, 149, 150, 0.16);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: $black;
  }
}

// end cars home section

// start payment-order-section

.payment-order-section {
  margin-top: $mainSpace;
  display: flex;
  align-items: center;
  justify-content: center;

  .custom-row {
    width: 855px;
  }

  .main-one {
    gap: 80px;

    .text-contaier {
      h2 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        color: $black;
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $sec;
        line-height: 25px;
        width: 353px;
      }
    }
  }

  .image-container {
    position: relative;
    border-radius: 24px;
    height: 502px;
    width: 400px;
    overflow: hidden;
    background: linear-gradient(114deg, #363f4d -1.62%, #0e131b 64.19%);

    &.position-sticky {
      top: 80px;
      background: linear-gradient(245deg, #2d9596 -0.58%, #3cadae 64.09%);
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 64px 32px;

      h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
      }

      button {
        display: inline-flex;
        height: 48px;
        // padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 32px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }

    img {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

html[dir="rtl"] .payment-order-section{
  button{
    width: 40%;
  }
}
html[dir="ltr"] .payment-order-section{
  button{
    width: 50%;
  }
}

// end payment-order-section

// start how-work-section

.how-work-section {
  margin-top: $mainSpace;
  margin-bottom: $footerSpace;

  .text-container {
    span {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: $yellow;
    }

    h2 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 65px;
      color: $black;
      margin-top: 32px;
      margin-bottom: 24px;
      width: 359px;
    }

    p {
      width: 339px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: $sec;
    }

    button {
      margin: 36px 0 23px;
      width: 170px;
      height: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 28px;
      background: $primary;
      color: #fff;
      font-weight: 700;
      box-shadow: -15px 20px 50px 0px rgba(45, 149, 150, 0.16);
    }
  }

  .cards {
    .main-card {
      border-radius: 16px;
      background: #f4f5f6;
      height: 200px;
      // align-items: center;
      width: 100%;
      margin-bottom: 15px;
      gap: 20px;
      padding: 0px 32px;
      transition: 0.4s all;

      .active {
        display: none;
      }

      .num {
        width: 105px;
        height: 105px;
        position: relative;
        border-radius: 50%;

        span {
          font-size: 46px;
          font-style: normal;
          font-weight: 700;
          color: $sec;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 15%;
        }
      }

      .text-card {
        h5 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          color: $black;
          margin: 0px;
          margin-bottom: 8px;
        }

        p {
          margin: 0px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          width: 152px;
          color: $sec;
        }
      }

      &:hover {
        position: relative;
        width: 500px !important;
        top: -20px;
        z-index: 11;

        .text-card {
          h5,
          p {
            color: #fff;
          }

          p {
            width: 181px;
          }
        }

        .default {
          display: none;
        }

        .active {
          display: block;
        }

        background: $primary;
        box-shadow: 0px 16px 56px 0px rgba(45, 149, 150, 0.56);

        .num {
          span {
            color: $primary;
          }
        }
      }
    }
  }
}

// end how-work-section

// start product pagea

.product-page {
  margin-top: 64px;
  margin-bottom: 140px;

  .details-container {
    .comp-price {
      display: inline-flex;
      padding: 8px 8px 6px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: $yellow;
      margin-bottom: 20px;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    }

    .nameCar {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      color: #23262f;
      margin-bottom: 25px;
    }

    .colors-container {
      display: flex;
      align-items: center;
      gap: 32px;
      margin-bottom: 42px;

      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: $sec;
      }

      .stallment-price {
        h5 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          color: $primary;
        }
      }

      .seprator {
        width: 1px;
        height: 64px;
        background: #dfe3ea;
      }

      .main-colors {
        .colors {
          display: flex;
          align-items: center;
          gap: 24px;
          flex-wrap: wrap;

          .color {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.light-color{
              background-color: #ededf3 !important;
            }

            .act-color {
              background-color: #fff;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              display: none;
            }

            &.active {
              width: 32px;
              height: 32px;

              .act-color {
                display: block;
              }
            }
          }
        }
      }
    }

    .desc {
      margin: 24px 0px;

      h6 {
        color: $neutrals1;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
      }

      p {
        width: 435px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
        color: $sec;
      }
    }

    .main-details {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-bottom: 40px;

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
          display: flex;
          align-items: center;
          width: 180px;
          justify-content: space-between;

          span {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: $sec;
          }

          h6 {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            color: $black;
          }
        }
      }
    }

    .btns-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .buy {
        display: flex;
        width: 70%;
        height: 56px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 90px;
        background: $primary;
        color: #fff;
        font-weight: 700;
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          display: inline-flex;
          position: relative;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 48px;
          border: 2px solid #dfe3ea;
          box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
          cursor: pointer;
          .share-box {
            width: 207px;
            // height: 48px;
            padding: 13px;
            border-radius: 8px;
            background-color: #212832;
            margin-top: 20px;
            align-items: center;
            justify-content: space-around;
            display: flex;
            position: absolute;
            z-index: 11;
            top: 100%;
            i {
              position: absolute;
              top: 0px;
              color: #fff;
              right: 0;
            }
            img {
              cursor: pointer;
            }
            &.check {
              // display: flex;
            }
          }
        }
      }
    }

    .main-seperator {
      width: 100%;
      height: 1px;
      background: #dfe3ea;
      margin: 40px 0px;
    }

    .change-btns {
      display: flex;
      width: 248px;
      height: 40px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 32px;
      margin-bottom: 40px;
      border: 1px solid #dfe3ea;

      button {
        width: 50%;
        font-weight: 400;
        color: $sec;

        &.active {
          font-weight: 700;
          border-radius: 24px;
          background: $black;
          color: #fff;
          height: 100%;
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
        }
      }
    }
  }

  .mySwiper {
    width: 100%;
    width: 672px;
    height: 500px;
    border-radius: 16px;
    position: sticky;
    top: 100px;
    overflow-y: visible;

    .swiper-pagination {
      align-items: center;
      display: flex;
      justify-content: center;
      top: 106% !important;

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        opacity: 0.38;
        background: $black;

        &.swiper-pagination-bullet-active {
          height: 26px;
          opacity: 1;
        }
      }
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      border-radius: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }

  .v-expansion-panel {
    background-color: transparent !important;
    color: $sec !important;
    margin-bottom: 30px;

    .custom-title {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: $black;
      }
    }
  }

  .v-expansion-panel__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
    border-radius: inherit;
    z-index: -1;
  }
}

// end product page

// start news page

.news-page {
  margin-bottom: $footerSpace;

  .news-boxes {
    .box {
      .image {
        height: 200px;
        border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;
        }
      }

      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: $black;
        margin-top: 24px;
        margin-bottom: 20px;
        @include text-line(2);
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $sec;
        line-height: 150%;
        margin-bottom: 24px;
        width: 389px;
        @include text-line(2);
      }

      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $sec;
      }
    }
  }
}

// end news page

// start single new page

.single-new-container {
  min-height: 100vh;
  padding-bottom: $footerSpace;

  .single-new {
    margin-top: 60px;
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;

    .img-box {
      width: 100%;

      .image {
        border-radius: 16px;
        position: relative;
        height: 400px;

        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 16px;
          background: linear-gradient(
            257deg,
            #000 -83.16%,
            rgba(38, 139, 202, 0) 101.18%
          );
        }
      }

      .text {
        color: $sec !important;
        margin-top: 32px;
        line-height: 34px !important;

        p {
          color: $sec;
          line-height: 36px;
        }
      }
    }
  }

  .news-related {
    position: sticky;
    top: 100px;
  }

  .news-box {
    border-radius: 16px;
    border: 1px solid #ebeaed;
    padding: 24px;
    margin-bottom: 24px;

    .icons {
      display: flex;
      align-items: center;
      gap: 7px;

      .iconn {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        background: #f6f7f9;
      }
    }

    .boxes {
    }

    .box {
      display: flex;
      align-items: center;
      gap: 14px;
      width: 100%;
      padding: 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #ebeaed;
      }
    }

    .image {
      // background-image: url("~/assets/images/new1.png");
      // background-size: cover;
      // background-position: center;
      // background-repeat: no-repeat;
      height: 72px;
      width: 90px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 6px;
      }
    }
    
    h5 {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: $black;
      margin-bottom: 32px;
    }
    
    .icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid #2d3a4a;
      cursor: pointer;
      
      i {
        font-size: 13px;
      }
    }

    h6 {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: $black;
      @include text-line(2);
    }

    .date {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    span {
      font-size: 12px;
      font-weight: 400;
      color: $sec;
    }
  }
}

// end single new page

// start offers page

.offers-page {
  margin-bottom: $footerSpace;

  .box {
    border-radius: 16px;
    border: 1px solid #dfe3ea;
    position: relative;

    .image {
      border-radius: 16px 16px 0px 0px;
      height: 290px;

      img {
        border-radius: 16px 16px 0px 0px;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .text {
      padding: 24px 50px;
      text-align: center;

      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: $sec;
        @include text-line(3);
        margin-bottom: 32px;
      }

      button {
        border-radius: 90px;
        border: 1px solid $primary;
        display: flex;
        width: 100%;
        height: 48px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        color: $primary;
        font-weight: 700;
      }
    }
  }
}

// start offers page

// start offer single page

.offer-page {
  margin-top: 72px;
  margin-bottom: 140px;
  min-height: 100vh;

  .main-offer-img {
    height: 370px;
    position: relative;
    border-radius: 16px;
    margin-bottom: 72px;

    img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 16px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 104.75%
      );
      width: 100%;
      height: 100%;
    }
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    h5 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      color: $black;
    }
  }
}

@media (max-width: 800px) {
  .offers-container {
    .offer-box {
      flex-direction: column;

      .image {
        width: 100%;
        height: 150px;
      }
    }
  }

  .offer-page {
    .main-offer-img {
      height: 280px;
    }
  }
}

// end offer single page

// start wishlist-page

.wishlist-page {
  padding-bottom: $footerSpace;
  background: #f4f5f6;

  .text-page {
    background: #fcfcfc;
    margin-top: 0px;
    padding: 64px 0px;
    margin-bottom: 72px;
  }
}

// end wishlist-page

.contact-page {
  .text-page {
    margin-bottom: 75px;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input {
      border-radius: 16px;
      background: #f4f5f6;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;

      &.area {
        align-items: start;
      }

      input,
      textarea {
        border: none;
        outline: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $sec;
        width: 100%;
        resize: none;

        &::placeholder {
          color: $sec;
        }
      }
    }

    button {
      display: flex;
      width: 100%;
      height: 48px;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 90px;
      background: $primary;
      color: #fff;
      font-weight: 700;
    }
  }

  .map-container {
    background-image: url("~/assets/imgs/map.png");
    width: 100%;
    background-size: cover;
    height: 100%;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .main {
      z-index: 111;
      gap: 64px;

      .cities-drop {
        display: flex;
        width: 256px;
        height: 115px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 12px;
        border: 2px solid #e6e8ec;
        background: #fcfcfd;
        box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
        &.custom{
          height: fit-content;
        }

        .city {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          .name {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
          }

          button {
            position: relative;

            .tool {
              position: absolute;
              top: -25px;
              left: 50%;
              transform: translateX(-40%);
              border-radius: 4px;
              background: $black;
              box-shadow: 0px 16px 24px -8px rgba(113, 128, 150, 0.08);
              display: none;
              width: 119px;
              height: 24px;
              z-index: 11;
              // padding: 10px 16px;
              justify-content: center;
              align-items: center;
              gap: 12px;
              flex-shrink: 0;
              color: #fff;
              font-size: 12px;
            }

            transition: 0.4s all;

            .act {
              display: none;
            }

            &:hover {
              // .tool {
              //   display: flex;
              // }

              .act {
                display: block;
              }

              .def {
                display: none;
              }
            }
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background: rgba(0, 0, 0, 0.32);
      backdrop-filter: blur(4px);
    }
  }

  .details {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    // gap: 130px;

    .item {
      position: relative;

      img {
        margin-bottom: 20px;
      }

      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        display: block;
        color: $sec;
      }

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $black;
        margin: 0px;
        &.text{
          width: 240px;
        }
        margin-top: 14px;
      }
    }
  }

  .common {
    margin-top: $mainSpace;
    margin-bottom: $footerSpace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      color: $black;
    }

    .main-panels {
      margin-top: 50px;
      width: 560px;
      &.customHeaight{
        height: 280px;
      }
      overflow-y: auto;

      .v-expansion-panel {
        background-color: transparent !important;
        color: $sec !important;
        margin-bottom: 20px;

        .custom-title {
          display: flex;
          align-items: center;
          gap: 20px;

          p {
            margin: 0px;
          }

          span {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            color: $black;
          }
        }

        .v-expansion-panel-text__wrapper {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          color: $black;
        }

        &.v-expansion-panel--active {
          .custom-title {
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              color: $black;
            }

            span {
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              color: $primary;
            }
          }
        }
      }

      .v-expansion-panel__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none !important;
        border-radius: inherit;
        z-index: -1;
      }
    }
  }
}

html[dir="rtl"] .contact-page{
  .details{
    .item{
      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 118px;
          left: -50%;
          background-color: #dfe3ea;
        }
      }
    }
  }
}

html[dir="ltr"] .contact-page{
  .details{
    .item{
      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 118px;
          right: -50%;
          background-color: #dfe3ea;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact-page {
    .details {
      .item {
        &:not(:last-child) {
          &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 118px;
            left: -10%;
            background-color: #dfe3ea;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact-page {
    .map-container {
      margin-top: 40px;
    }

    .details {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 40px;

      .item {
        &::before {
          content: "";
          display: none;
        }

        &:not(:last-child) {
        }
      }
    }

    .common {
      .main-panels {
        width: 100%;

        .v-expansion-panel {
          background-color: transparent !important;
          color: $sec !important;
          margin-bottom: 20px;

          .custom-title {
            display: flex;
            align-items: center;
            gap: 20px;

            p {
              margin: 0px;
              font-size: 14px;
              line-height: 20px;
            }

            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              color: $black;
            }
          }

          .v-expansion-panel-text__wrapper {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: $black;
          }

          &.v-expansion-panel--active {
            .custom-title {
              p {
                font-size: 14px;
                line-height: 20px;
                color: $black;
              }

              span {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

// start jobs page

.jobs-container {
  margin-bottom: $footerSpace;

  .all-jobs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .job {
      border-radius: 12px;
      background: #fff;
      padding: 48px;
      box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.04);

      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: $black;
        margin-bottom: 16px;
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 32px;
        width: 738px;
        color: $sec;
        // @include text-line(2);
      }

      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        color: $primary;
      }

      button {
        display: flex;
        width: 200px;
        height: 56px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 90px;
        background: $black;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

// end jobs page

// start all cars page

.all-cars-container {
  // background: #fcfcfc;
  min-height: 100vh;

  .text-page {
    align-items: flex-start;

    .filter-container {
      margin-top: 75px;
      // margin-bottom: 24px;
      display: flex;
      align-items: center;
      gap: 30px;

      .inp {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          color: $sec;
        }
      }
      .main-filter {
        width: 100%;
        gap: 30px;
      }
      .filter-btn {
        display: flex;
        width: 124px;
        height: 48px;
        margin-top: 30px;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
        border-radius: 90px;
        border: 2px solid #dfe3ea;
        color: $black;
        font-weight: 700;
        &.active{
          width: fit-content;
          height: 40px;
          padding: 10px;
           border-radius: 50%;
          span{
            display: none;
          }
        }
      }
      .v-input__details {
        display: none;
      }
      .v-slider-thumb__label {
      }
      .v-slider-thumb__ripple {
      }
      .v-slider-thumb__surface {
        color: #fff !important;
        width: 25px !important;
        height: 25px !important;
        border: 2px solid $black;
      }

      .v-input {
        margin-top: 30px;
      }
      .v-slider-track__background {
        background-color: #dedfe0 !important;
      }
      .v-slider-track__background,
      .v-slider-track__fill {
        height: 16px;
      }

      .currency {
        margin-top: 7px;
        span {
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          color: $black;
        }
      }
    }
  }
  .searchBtn2{
     display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      padding: 10px 35px;
      background-color: $primary;
      color: #fff !important;
  }
  .allcars {
    background: #f4f5f6;
    padding-top: 50px;
    padding-bottom: $footerSpace;
    .progress-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .v-progress-linear {
      width: 500px;
    }
  }
}

// end all cars page

// start finance page

.order-finance-container {
  margin-top: $space1;
  background-color: #fff;
  border-radius: 24px;
  padding: 56px;
  margin-bottom: $footerSpace;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe3ea;
    h1 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      color: $black;
    }
  }
  .btn-container {
    margin-top: 32px;
    margin-bottom: 8px;
    display: flex;
    width: 248px;
    height: 48px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    background: #f4f5f6;
    color: $sec;
    font-weight: 400;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50%;
      background-color: transparent;
      border: none;
      &.active {
        border-radius: 24px;
        color: #fff;
        font-weight: 700;
        background: $black;
      }
    }
  }
  .inputs {
    padding-bottom: 25px;
    border-bottom: 1px solid #dfe3ea;
    input {
      outline: none !important;
    }
    .input-custom {
      margin-top: 24px;
      .p-dropdown {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .p-dropdown-label {
          font-size: 16px;
          color: $sec;
          font-weight: 400;
        }
      }
    }
  }

  .radio-container {
    display: flex;
    margin-top: 15px;
    align-items: center;
    // background-color: red;
    gap: 40px;
    height: 100%;
    h6 {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      color: $black;
    }
    .v-selection-control-group {
      flex-direction: row;
      gap: 15px;
      width: 100%;
      direction: rtl;
    }
    .v-input {
      margin: 0px !important;
      .v-label {
        overflow: visible !important;
        letter-spacing: normal !important;
        text-overflow: inherit !important;
        word-break: normal;
        white-space: nowrap !important;
      }
    }
  }
  .text {
    margin-top: 24px;
    width: 320px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    color: $sec;
  }
  .send-btn {
    display: flex;
    width: 388px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 90px;
    background: $primary;
    color: #fff;
    font-weight: 700;
    margin-top: 24px;
  }
}

//end finance page


// start about us page 


.about-us {
  margin-top: 72px;
  margin-bottom: 140px;
  min-height: 100vh;
  .about-container {
    border-radius: 24px;
    background: #fff;
    margin-bottom: 64px;
    .text-container {
      padding: 32px;
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
      h6 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        color: #2d3a4a;
      }
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: #5a7184;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 24px;
      .icon {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 16px;
        border: 1px solid #ebeaed;
        padding: 16px;
        min-height: 233px;

        img {
          width: 56px;
          height: 56px;
        }
        h6 {
          color: #2d3a4a;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
        }
        span {
          color: #5a7184;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }
    .image {
      // background-image: url("~/assets/images/about.png");
      border-radius: 24px 0px 0px 24px;
      height: 100%;
      background-position: center;
      background-size: cover;
      position: relative;
      img {
        width: 100%;
        border-radius: 24px 0px 0px 24px;
        height: 100%;
        object-fit: cover;
      }
      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 24px 0px 0px 24px;
        opacity: 0.5;
        background: linear-gradient(180deg, #000 0%, rgba(38, 139, 202, 0) 100%);
      }
    }
  }
}

.video-container {
  width: 800px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 24px;
  .iframe-container{
    width: 100%;
    height: 100%;
    iframe {
      border-radius: 24px;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media (max-width: 760px) {
  .video-container {
    width: 100%;
    height: 250px;
  }
}

html[dir="ltr"] .about-us {
  .about-container {
    .image {
      border-radius: 0px 24px 24px 24px;

      img {
        border-radius: 0px 24px 24px 24px;
      }
      .overlay {
        border-radius: 0px 24px 24px 24px;
      }
    }
  }
}


// end about us page 
